.vs/
bin/
obj/
Client/bin/
Client/obj/
Extensions/bin/
Extensions/obj/
FunctionalTests/bin/
FunctionalTests/obj/
GrainInterfaces/bin/
GrainInterfaces/obj/
Grains/bin/
Grains/obj/
Silo/bin/
Silo/obj/
Translators/bin/
Translators/obj/
UnitTests/bin/
UnitTests/obj/